.row {
    background: rgb(146, 146, 127);
}

footer {
    color: rgb(41, 28, 28);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px rgb(53, 50, 50);
}