<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-6">
        <h2>En programación y robótica</h2>
        <ul>
            <li>
                <h3>Estudio 1</h3>-
                <h4>(years)</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo exercitationem voluptatem placeat veritatis, saepe laudantium ipsum accusantium beatae nesciunt vel cum quas, doloribus dolores illo facilis ipsa nulla? Fugiat, dolorem?</p>
        </ul>
        <ul>
            <li>
                <h3>Estudio 2</h3>-
                <h4>(years)</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo exercitationem voluptatem placeat veritatis, saepe laudantium ipsum accusantium beatae nesciunt vel cum quas, doloribus dolores illo facilis ipsa nulla? Fugiat, dolorem?</p>
        </ul>
        <ul>
            <li>
                <h3>Estudio 3</h3>-
                <h4>(years)</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo exercitationem voluptatem placeat veritatis, saepe laudantium ipsum accusantium beatae nesciunt vel cum quas, doloribus dolores illo facilis ipsa nulla? Fugiat, dolorem?</p>
        </ul>
    </div>

    <div class="col-lg-6">
        <h2>Profesional</h2>
        <ul>
            <li>
                <h3>Estudio 1</h3>-
                <h4>(years)</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo exercitationem voluptatem placeat veritatis, saepe laudantium ipsum accusantium beatae nesciunt vel cum quas, doloribus dolores illo facilis ipsa nulla? Fugiat, dolorem?</p>
        </ul>
        <ul>
            <li>
                <h3>Estudio 2</h3>-
                <h4>(years)</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo exercitationem voluptatem placeat veritatis, saepe laudantium ipsum accusantium beatae nesciunt vel cum quas, doloribus dolores illo facilis ipsa nulla? Fugiat, dolorem?</p>
        </ul>
        <ul>
            <li>
                <h3>Estudio 3</h3>-
                <h4>(years)</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo exercitationem voluptatem placeat veritatis, saepe laudantium ipsum accusantium beatae nesciunt vel cum quas, doloribus dolores illo facilis ipsa nulla? Fugiat, dolorem?</p>
        </ul>
    </div>
</div>