<div class="row">
    <h1>Experiencia Laboral</h1>

    <div class="col-lg-2">
        <button class="btn btn-dark" type="button" routerLink="/nuevaexperiencia" *ngIf="isLogged">
            Nueva Experiencia
        </button>
    </div>

    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Experiencia of experiencia">
                    <td>{{Experiencia.nombreE}}</td>
                    <td>{{Experiencia.descripcionE}}</td>
                    <td><i class="bi bi-pencil-fill"></i>Editar</td>
                    <td><i class="bi bi-trash-fill"></i>Borrar</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
